.banner {
  color: #fff;
  position: relative;
  &__text{
    position: absolute;
    top: 37%;
    left:18%;
  }
  &__title{
    font-size: 60px;
    margin-bottom: 60px;
  }
  &__subtitle{
    font-size: 40px;
    margin-bottom: 60px;
  }
  img{
    width: 100%;
  }
}

.main{
  img{
    display:block;
    max-width:100%;
  }
  .sideTitle{
    text-align: center;
    font-weight: bold;
    height: 30px;
    line-height:30px;
    font-size:30px;
    margin-top:30px;
    margin-bottom:30px;
  }
  .sideExplain{
    line-height:1.6;
    font-size:.28rem;
  }
}

@media only screen and (max-width: 976px) {
  .banner {
    &__text{
      position: absolute;
      top: 30%;
      left:18%;
    }
    &__title{
      font-size: 40px;
      margin-bottom: 40px;
    }
    &__subtitle{
      font-size: 20px;
      margin-bottom: 30px;
    }
    img{
      width: 100%;
    }
  }

  .main{
    img.discraptImg{
      height:500px;
    }
  }
  .itemList{
    margin-top:20px;
  }

  /*提供服务*/
  .sideServe {
    .serveMark {
      .serveMarkInner {
        padding: 0;
      }
    }
  }
}

